<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ form.name.value }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'products/css/materialize.css' %}">
    <script type = 'text/javascript' src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type = 'text/javascript' src = "{% static 'products/js/materialize.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card hoverable">
                <div class="card-content black-text">
                    <span class="card-title black-text">Update a Product</span>
                    <form action="/products/{{product.id}}/" method = "post">
                        <input type="hidden" name ="_method" value = "put">
                        {% csrf_token %}
                        {% if form.name.errors %}
                            {% for error in form.name.errors %} {{ error }}
                        {% endfor %}
                        {% endif %}
                        <div class="input-field">
                            {{form.name}}
                            <label for="name">Product Name</label>
                        </div>
                        {% if form.manufacturers.errors %}
                            {% for error in form.manufacturers.errors %} {{ error }}
                        {% endfor %}
                        {% endif %}
                        <div class="input-field">
                            {{form.manufacturer}}
                            <label for="manufacturer">Manufacturer/Brand</label>
                        </div>
                        {% if form.price.errors %}
                            {% for error in form.price.errors %} {{ error }}
                        {% endfor %}
                        {% endif %}
                        <div class="input-field">
                            {{form.price}}
                            <label for="price">Price</label>
                        </div>
                        {% if form.description.errors %}
                            {% for error in form.description.errors %} {{ error }}
                        {% endfor %}
                        {% endif %}
                        <div class="input-field">
                            {{form.description}}
                            <label for="description">Description</label>
                        </div>
                </div>
                <div class="card-action">
                    <a href="/products/" class="waves-effect waves-light btn white-text col s4 m3">Back</a>
                    <button class="waves-effect waves-light btn white-text col s6 m3 right">Update</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>